#main-header {
  height: 10vh;
  background-color: black;
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-header a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px blueviolet;
  padding: 2vh 5vw;
}

#main-header a:hover {
  background-color: rgb(29, 29, 29);
}
